#footer {
  clear: both;
  margin: 20px 0 20px 0;
  text-align: center;
  color: #626E7F;
  text-shadow: 0 1px 0 #FFFFFF;
}
#footer a {
  color: #626E7F;
}
#header {
  background: #008800;
  color: black;
  height: 80px;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  border-top: solid 1px #96D0F7;
  border-bottom: solid 1px #0C3459;
}
#logo {
  height: 65px;
  position: absolute;
  left: 20px;
}
#logo a {
  text-decoration: none;
  color: white;
}
#logo h1 {
  top: 5px;
  font-size: 2.8em;
  text-shadow: 0 2px 2px #0E3E68;
  bottom: 5px;
}
#logo p {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #1D68AB;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
html {
  background: #004d39;
}
body,
input {
  font-family: Arial, sans-serif;
}
br.clearfix {
  clear: both;
}
strong {
  color: #333333;
}
h1,
h2,
h3 {
  text-shadow: 0 2px 0 #888888;
}
h2 {
  font-size: 2.25em;
}
h2,
h3,
h4 {
  color: #001739;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
img.alignleft {
  margin: 5px 20px 20px 0;
  float: left;
}
img.aligntop {
  margin: 5px 0 20px 0;
}
#page {
  position: relative;
  margin: 0px;
  padding: 5px;
  width: 100%;
}
#recordings_page,
#log_page,
#hdhr_page,
#server_page {
  position: relative;
  padding: 0;
  width: 100%;
  display: hidden;
}
#start_page {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 800px;
  display: block;
}
.box {
  overflow: hidden;
  margin: 0 0 0 0;
}
#wrapper {
  position: relative;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
  width: 90%;
  min-width: 1080px;
}
.viewbutton {
  background: url('../images/view.png') no-repeat;
  background-size: contain;
}
.deletebutton {
  background: url('../images/delete.png') no-repeat;
  background-size: contain;
}
.updatebutton {
  background: #585;
  background-size: cover;
  width: 200px;
  height: 25px;
  color: white;
  border: 0px;
}
.btn_20 {
  width: 20px;
  height: 20px;
}
#loglist {
  background-color: #030;
  color: white;
  float: left;
  width: 140px;
  height: 100%;
  text-align: center;
  overflow-y: scroll;
  overflow-x: none;
}
#loglist::-webkit-scrollbar {
  display: none;
}
#loglist h4 {
  text-shadow: 0 1px 0 #FFFFFF;
  color: white;
}
#loglist_box {
  padding: 0px;
}
#loglist ul {
  list-style: none;
}
#loglist ul li {
  padding: 2px 0 2px 0;
}
#loglist ul li.first {
  border-top: 0;
  padding-top: 0;
}
#loglist ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: 0.1s;
  width: 100%;
}
#loglist ul li a:hover {
  background-color: #008800;
}
#loglist ul li a:focus,
a.focus {
  background-color: #008800;
}
#logfile_content {
  margin-left: 140px;
  width: auto;
  background: #030;
  height: 100%;
  color: white;
}
#logfile_box {
  height: calc(100% - 23px);
  width: calc(100% - 2px);
  overflow-y: auto;
  background: #030;
  border-left: 2px #008800 solid;
}
#logfile_box::-webkit-scrollbar {
  display: none;
}
#logfile_header {
  background: #008800;
  height: 20px;
}
#start_content {
  width: 100%;
  height: 100%;
}
#server_content {
  width: 100%;
  height: 100%;
}
#hdhr_content {
  width: 100%;
  height: 100%;
}
#recordings_content {
  width: 100%;
  height: 100%;
}
#recordings_box {
  height: 100%;
  width: 100%;
}
#recordings_info {
  height: 100%;
  width: 100%;
}
#recordings_list_box {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}
#recordings_list_box::-webkit-scrollbar {
  display: none;
}
#server_box {
  height: 100%;
  width: 100%;
}
#hdhr_box {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
#hdhr_box::-webkit-scrollbar {
  display: none;
}
input[type="text"] {
  background: #EAEEF2;
  margin: 0;
  width: 60%;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}
#statusMessage {
  background: #008800;
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: white;
  text-align: center;
  overflow-y: auto;
  overflow-x: none;
  max-height: 200px;
  min-height: 20px;
}
.logDate {
  font-style: italic;
}
.logTypeError {
  font-style: bold;
  color: red;
}
.logTypeStatus {
  font-style: bold;
  color: lightblue;
}
.logTypePlayback {
  font-style: bold;
  color: green;
}
.logTypeRecording {
  font-style: bold;
  color: orange;
}
.logTypeRecorded {
  font-style: underline;
  color: orange;
}
.logTypeInfo {
  font-style: bold;
  color: grey;
}
.logInfoError {
  font-style: italic;
  color: red;
}
ul.tabmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  background: #020;
}
ul.tabmenu li {
  float: left;
}
ul.tabmenu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.1s;
  border: solid 1px #020;
}
ul.tabmenu li a:hover {
  background-color: #008800;
}
ul.tabmenu li a:focus,
a.active {
  background-color: #008800;
}
.tabcontent {
  display: none;
}
#recordings_tools {
  float: right;
}
#recording_entry {
  border-top: dotted 1px #C5CDD8;
  background: #030;
  height: 162px;
  position: relative;
}
#recording_img {
  float: left;
  height: 162px;
  width: 216px;
  margin: 0 10px 0 0;
}
#recordings_select {
  height: 20px;
  width: 20px;
  float: right;
}
.recording_entry h4 {
  color: white;
}
.recordings {
  color: white;
}
.recording_entry p {
  font-style: italic;
  font-size: 0.95em;
  color: white;
}
#hdhr_entry {
  border-top: dotted 1px #C5CDD8;
  background: #030;
  height: 162px;
}
#hdhr_img {
  display: block;
  margin: 0 auto;
  width: 145px;
}
#hdhr_img_cnt {
  vertical-align: middle;
  display: table-cell;
}
#hdhr_img_flt {
  float: left;
  background-color: darkslategrey;
  width: 216px;
  height: 162px;
  margin: 0 10px 0 0;
  display: table;
}
.hdhr_entry h4 {
  color: white;
}
.hdhr_entry p {
  font-style: italic;
  color: white;
}
ul.decorator {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 0px 0px 200px;
}
ul.decorator li {
  float: left;
  margin: 0px 10px;
}
ul.decorator li p {
  display: inline-block;
  color: white;
  background-color: #008800;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  transition: 0.1s;
  border: none;
}
ul.decorator li a {
  display: inline-block;
  color: white;
  background-color: #008800;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  transition: 0.1s;
  border: none;
}
ul.decorator li a:hover {
  cursor: pointer;
}
ul.decorator li.info p,
ul.decorator li.play a,
ul.decorator li.record a {
  background-color: ;
}
ul.decorator li.delete a {
  background-color: Red;
}
ul.decorator li.delete a:hover,
ul.decorator li.play a:hover,
ul.decorator li.record a {
  cursor: pointer;
}
#serverParams {
  width: 100%;
  margin: 130px 0px 0px 0px;
}
#serverControls {
  text-align: center;
  width: 100%;
}
#server_cfg_entry {
  height: 85px;
  width: 100%;
  margin-bottom: 5px;
}
#server_params_text {
  width: 100%;
}
textarea.server_param {
  background: #EAEEF2;
  margin: 0;
  width: 100%;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  height: 40px;
  color: black;
  background-color: #CFC;
}
#server_param_name {
  color: white;
  background-color: #008800;
  width: 200px;
}
#server_param_detail {
  text-align: center;
}
#server_controls {
  padding: 20px;
  text-align: center;
}
#server_controls_box {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
ul.serverctrls {
  position: relative;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  text-align: center;
}
ul.serverctrls li {
  float: left;
  list-style-type: none;
  margin: 20px;
}
ul.serverctrls li a {
  background-color: #030;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 35px 35px;
  text-decoration: none;
  transition: 0.1s;
  font-size: 20px;
  border-radius: 60px 60px 60px 60px;
  border: solid 1px #020;
}
ul.serverctrls li a:hover {
  background-color: #008800;
}
ul.serverctrls li a:focus,
a.active {
  background-color: #008800;
}
.logfile_path {
  color: white;
  font-size: 20px;
  font-style: oblique;
}
.logfile_delete {
  color: red;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
.logfile_delete:hover,
.logfile_delete:focus {
  color: white;
  background: red;
  text-decoration: none;
  cursor: pointer;
}
.revealModal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: #000000;
  background-color: rgba(0,0,0,0.4);
  color: black;
  padding-top: 20%;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.revealModal-content {
  position: relative;
  background-color: #EEE;
  width: 80%;
  min-height: 162px;
  padding: 20px;
  margin: auto;
}
.revealModal-header {
  width: 80%;
  padding: 20px;
  margin: auto;
  background-color: #030;
  color: white;
  border-radius: 20px 20px 0 0;
}
.revealModal-header h4 {
  color: white;
}
.revealModal-footer {
  width: 80%;
  padding: 15px 20px;
  margin: auto;
  background-color: #EEE;
  color: black;
  height: 15px;
  border-radius: 0 0 20px 20px;
}
.revealClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.revealClose:hover,
.revealClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
ul.modal_decorator {
  list-style-type: none;
  float: right;
}
ul.modal_decorator li {
  float: left;
  margin: 0px 10px;
}
ul.modal_decorator li p {
  display: inline-block;
  color: white;
  background-color: #008800;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  transition: 0.1s;
  border: none;
}
ul.modal_decorator li a {
  display: inline-block;
  color: white;
  background-color: #008800;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  transition: 0.1s;
  border: none;
}
ul.modal_decorator li a:hover {
  cursor: pointer;
}
ul.modal_decorator li.info p,
ul.modal_decorator li.play a,
ul.modal_decorator li.record a {
  background-color: ;
}
