#footer {
	clear: both;
	margin: 20px 0 20px 0;
	text-align: center;
	color: #626E7F;
	text-shadow: 0 1px 0 #FFFFFF;
}

#footer a {
	color: #626E7F;
}

#header {
	background: #008800 ;
	color: #000000;
	height: 80px;
	position: relative;
	padding: 20px;
	border-radius: 10px;
	border-top: solid 1px #96D0F7;
	border-bottom: solid 1px #0C3459;
}

#logo {
	height: 65px;
	position: absolute;
	left: 20px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo h1 {
	top: 5px;
	font-size: 2.8em;
	text-shadow: 0 2px 2px #0E3E68;
	bottom: 5px;
}

#logo p {
	margin: 0px 0px 0px 0px
	padding: 0px 0px 0px 0px
}


/* BELOW HERE IS IN USE */
* {
	margin: 0;
	padding: 0;
}

a {
	color: #1D68AB;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

html {
	background: #CFD5DE;
}

body {
	color: #6B7C93;
	font-size: 12.5pt;
}

body,input {
	font-family: Arial, sans-serif;
}

br.clearfix {
	clear: both;
}

strong {
	color: #333333;
}

h1,h2,h3,h4 {
	text-shadow: 0 2px 0 #888888;
}

h2 {
	font-size: 2.25em;
}

h2,h3,h4 {
	color: #001739;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

img.alignleft {
	margin: 5px 20px 20px 0;
	float: left;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

#page {
	position: relative;
	margin: 10px 0 10px 0;
	padding: 0;
	width: 100%;
}

.box {
	overflow: hidden;
	margin: 0 0 0 0;
}

#wrapper {
	position: relative;
	margin: 0 auto 0 auto;
	padding: 10px 0 0 0;
	width: 90%;
}


.viewbutton {
	background: url('../images/view_800.png') no-repeat;
	background-size: contain;
}

.deletebutton {
	background: url('../images/delete_512.png') no-repeat;
	background-size: contain;
}

.updatebutton {
	background: url('../images/update.png') no-repeat;
	background-size: contain;
}

.restartbutton {
	background: url('../images/restart.png') no-repeat;
	background-size: contain;
}

.stopbutton {
	background: url('../images/shutdown.png') no-repeat;
	background-size: contain;
}

.startbutton {
	background: url('../images/start.png') no-repeat;
	background-size: contain;
}

.btn_20_120 {
	width:120px;
	height:20px;
	border 0;
}

.btn_32_120 {
	width:120px;
	height:32px;
	border 0;
}

.btn_20 {
	width:20px;
	height:20px;
	border 0;
}

#sidebar {
	float: left;
	background: #EAEEF2;
	width: 180px;
	padding: 10px;
	height: 400px;
	border-radius: 10px;
	border: solid 2px #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
	overflow: auto;
}

#sidebar_box {
	padding: 0px;
}

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
	padding: 5px 0 5px 0;
	border-top: dotted 1px #C5CDD8;
}

#sidebar ul li.first {
	border-top: 0;
	padding-top: 0;
}

#config_box {
	background: #EAEEF2;
	margin: 10px 0 10px 0;
	padding: 5px;
	border-radius: 10px;
	border: solid 2px #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
	line-height: 1;
}

#config_box ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}

#config_box ul li {
	padding: 5px;
	margin: 0;
	line-height: 1;
}

#config_box ul li.first {
	padding: 5px;
	margin: 0;
	line-height: 1;
}

#serverControls {
	position: relative;
	margin: 0 auto 0 auto;
	padding: 10px 0 0 0;
	width: 30%;
}

#config_box ul li label{
	display: inline-block;
  width: 160px;
}

#content {
	background: #EAEEF2;
	padding: 10px;
	margin: 0 0 0 220px;
	border-radius: 10px;
	border: solid 2px #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
	height: 400px;
}

#logfile_box {
	height:100%;
	width:100%;
	overflow: auto;
}

input[type="text"] {
	background: #EAEEF2;
  margin: 0;
  width: 75%;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

#statusMessage {
	background: green;
	color: white;
}